a {
    color: #000000 !important;
    text-decoration: none;
}

body {
	background-attachment: fixed;
	background-image: url('../images/port-6587129_1920.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}