a {
    color: #000000 !important;
    text-decoration: none;
}

body {
	background-attachment: fixed;
	background-image: url('../images/port-6587129_1280.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}